# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
*.backup

# SSH keys (never push private keys)
deploy_key
*.pem
capstone-deploy-key
capstone-deploy-key.pub


# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.tar
